{% extends "saritasapp/base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <button class="back-button" onclick="history.back()"><i class="fas fa-arrow-left"></i></button>
    <h2>Edit Profile</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label><i class="fas fa-user"></i> Full Name:</label>
            <div class="input-container">
                <input type="text" name="name" value="{{ user.name }}">
            </div>
        </div>

        <div class="form-group">
            <label><i class="fas fa-envelope"></i> Email Address:</label>
            <div class="input-container">
                <input type="email" name="email" value="{{ user.email }}">
            </div>
        </div>

        <div class="form-group">
            <label><i class="fas fa-map-marker-alt"></i> Branch Location:</label>
            <div class="input-container">
                <select name="branch">
                    {% for branch in form.branch.field.queryset %}
                        <option value="{{ branch.id }}" {% if branch == user.branch %}selected{% endif %}>
                            {{ branch.branch_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn save-btn">Save Changes</button>
    </form>

    <form method="post" action="{% url 'saritasapp:logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn signout-btn">Sign Out</button>
    </form>
    
</div>

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<script>
function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
        var output = document.getElementById('profileImage');
        output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
}
</script>

{% endblock %}
