{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
<div class="register-container"> 
    <!-- Left Section -->
    <div class="left-section">
        <a href="{% url 'saritasapp:sign_in' %}" class="back-button">← Back</a>
        <span class="brand-name">Sarita's</span><br>
        <h1>Wedding Creations <br>& Event Stylist</h1>
    </div>

    <!-- Right Section -->
    <div class="right-section">
        <h2 class="form-title">Create an Account</h2>
        <form method="POST" class="signup-form">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.branch.label_tag }}
                {{ form.branch }}
            </div>

            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>

            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <div class="form-group text-center">
                <button type="submit" class="register-btn">Sign Up</button>
            </div>
        </form>

        <p class="login-link text-center">
            Already have an account? <a href="{% url 'saritasapp:sign_in' %}">Log in</a>
        </p>
    </div>

</div>

</body>
{% endblock %}
